<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('css_insertion') -%>
    <%- include('bootstrap_insertion.ejs') -%>
    <%- include('bootstrap_example_header_styling_insertion.ejs') -%>
    <%- include('bootstrap_example_signin_styling_insertion.ejs') -%>

    <title>Edit Profile</title>
</head>
<body>
    <%- include('example_bootstrap_header_insertion_logged_in') -%>
    
    <%- include('example_bootstrap_edit_profile_page') -%>

</body>
</html>