<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('css_insertion.ejs') -%>
    <%- include('bootstrap_insertion.ejs') -%>
    <title>Homepage</title>
</head>
<body>
    <%- include('bootstrap_example_header_styling_insertion.ejs') -%>
    <%- include('example_bootstrap_header_insertion_logged_in.ejs') -%>
    <%- include('all_users_listing.ejs') -%>    
</body>
</html>